.battle-comp {
	display: flex;
	align-items: center;
}
.battle-comp-vs {
	font-family: Margarine;
	font-size: 4em;
}
@media only screen and (max-width: 650px) {
	.battle-comp {
		flex-direction: column;
	}
}