.statistics-comp {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	text-align: center;
}
.statistics-comp > div {
	padding: 1em 4em;
	margin: 4em 1em;
}	
.statistics-comp ol > li {
	list-style-position: inside;
	margin-top: 3em;
}
.statistics-comp li::marker {
	font-family: Margarine;
	font-size: 4em;	
}