.statistics-comp {
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}
.statistics-comp div {

}
.statistics-comp ol > li {
	list-style-position: inside;
	margin-top: 2em;
}
.statistics-comp li::marker {
	font-size: 5em;
	line-height: 65%;
	
}