
.gallery-section {
	text-align: center;
	margin: 1em;
}
.gallery-div {

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	gap: 1em;
	padding: 1em 4em 
}
.open-hamster-section {
	background-color: var(--color2);
	border: 0.3em solid var(--color3);
	border-radius: 2em;
}
.add-new-section {
	display: flex;
	justify-content: center;
	margin: 0em 1em 4em 1em;
}
.small-form-section {
	grid-column: 3;
	background-color: var(--color2);
	border: 0.3em solid var(--color3);
	border-radius: 2em;
	text-align: center;
	padding: 1em 4em;
	margin: 1em;
}
.big-form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add-new-form {
	background-color: var(--color2);
	border: 0.3em solid var(--color3);
	border-radius: 2em;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(10, 2em);
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 1em 4em;
	margin-bottom: 4em;
}
.add-new-form label {
	text-align: left;
	font-size: 1.2em;
	padding-right: 2em;
}
.add-new-form input {
	border: 0.2em solid var(--color3);
	font-size: 1.2em;
	border-radius: 0.4em;
}
.add-new-form .error-message {
	text-align: left;
	grid-column: 2;
	color: red;
}
.error-input {
	background-color: rgb(255, 168, 168);
}
.add-new-form .button-div {
	grid-column: 1/3;
}

@media only screen and (max-width: 1050px) {
	.gallery-div {
		grid-template-columns: repeat(4, auto);
	}
	.gallery-div .add-new {
		grid-column: 1/5;
	}
	.add-new-form {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(15, 2em);
	}
	.add-new-form .error-message {
		grid-column: 1;
	}
	.add-new-form .button-div {
		grid-column: 1;
	}
}
@media only screen and (max-width: 850px) {
	.gallery-div {
		grid-template-columns: repeat(3, auto);
	}
	.gallery-div .add-new {
		grid-column: 1/4;
	}
}
@media only screen and (max-width: 650px) {
	.gallery-div {
		grid-template-columns: repeat(2, auto);
	}
	.gallery-div .add-new {
		grid-column: 1/3;
	}
}
@media only screen and (max-width: 450px) {
	.gallery-div {
		grid-template-columns: repeat(1, auto);
	}
	.gallery-div .add-new {
		grid-column: 1;
	}
}