.hamster-info-wrapper {
	padding: 1em 4em;
	background-color: var(--color2);
	border: 0.3em solid var(--color3);
	border-radius: 4em;
}
.hamster-info {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	width: 260px;
	background-color: white;
	border: 0.3em solid var(--color3);
	border-radius: 3em;
	margin: 1em auto;
	padding: 1em;
}
.hamster-info img {
	width: 240px;
	height: 240px;
	object-fit: cover;
	border: 0.3em solid var(--color3);
	border-radius: 2em;
}
.info-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
.info-footer p {
	color: red;
}