.history-comp {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}
.games-section {
	display: flex;
	flex-direction: column;
}
.games-header {
	display: flex;
	justify-content: space-between;
}
.winner-section {
	text-align: center;
	padding: 0.5em
}
.loser-section {
	text-align: center;
	padding: 0.5em
}
.vs-div {
	font-family: Margarine;
	font-size: 2em;
}
.history-comp ul {
	font-size: 1em;
}
