
.history-comp {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}
.history-comp .one-game {
	background-color: var(--color2);
	border: 0.3em solid var(--color3);
	border-radius: 2em;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 1em 4em;
	margin-bottom: 4em;
}
.game-winner, .game-loser{
	background-color: white;
	border: 0.3em solid var(--color3);
	border-radius: 2em;
	padding: 1em 4em;
}
.history-comp .vs-div {
	font-family: Margarine;
	font-size: 2em;
	margin: 0em 1em;
}