.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color1);
}
header {
	padding: 2em 0em;
	display: flex;
	background-color: var(--color3);
	font-family: Margarine;
}
h1 {
	display: inline;
	font-size: 4em;
}
main {

}
nav {
	display: flex;
	align-items: center;
}
nav h1 a {
	color: var(--color4);
	text-shadow:
		-4px -4px 4px var(--color2),  
	 	4px -4px 4px var(--color2),
	 	-4px 4px 4px var(--color2),
	 	4px 4px 4px var(--color2);
	padding: 0.2em;
	margin: 0.2em;
}
nav a {
	color: var(--color2);
	text-decoration: none;
	padding: 0.5em;
	margin: 0.5em;
}
.active-route {
	color: white;
}