@font-face {
	font-family: Margarine;
	src: url('./assets/fonts/Margarine-Regular.ttf');
}
@font-face {
	font-family: Catamaran;
	src: url('./assets/fonts/Catamaran-Regular.ttf');
}
* {
	margin: 0;
	padding: 0;
}
:root {
	--color1: rgb(136, 228, 151);
	--color2: rgb(255, 230, 200);
	--color3: rgb(175, 149, 118);
	--color4: rgb(6, 121, 24);
	--color5: rgb(50, 90, 56);
}
html {
	background-color: var(--color1);
}